#board {
  background-color: #fff;
  border-spacing: 0;
  display: inline-block;
  margin: 10px auto 25px auto;
}

.cell {
  border: 1px solid #000000;
  cursor: text;
  display: inline-block;
  height: 48px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 48px;
  z-index: 50;
  
}


.cell > input {
  border: 0;
  caret-color: #000000;
  color: blue;
  font-size: 24px;
  height: 48px;
  margin: 0;
  outline: none;
  text-align: center;
  width: 48px;
}

.cell > input:disabled {
  color: #000000;
}

.cell.mutable.red {
  color: red;
}

.green {
  color: green;
  font-weight: bold;
  background-color: rgba(0, 128, 0, .25) !important
}

/* For subtables within cells */
table.notes {
  border: none;
  border-spacing: 0px;
  overflow: hidden;
  width: 100%;
}

tr.notes {
  height: 16px
}

td.notes {
  font-size: 10px;
  padding: 0;
}

td.hidden {
  color: transparent;
}



.cell > input {
  background-color: transparent;
}

#A1, #A2, #A3, #A7, #A8, #A9, #B1, #B2, #B3, #B7, #B8, #B9, #C1, #C2, #C3, 
#C7, #C8, #C9, #D4, #D5, #D6, #E4, #E5, #E6, #F4, #F5, #F6, #G1, #G2, #G3, 
#G7, #G8, #G9, #H1, #H2, #H3, #H7, #H8, #H9, #I1, #I2, #I3, #I7, #I8, #I9{
  background-color: rgba(0, 0, 0, .15) 
}

div.timer {
  display: table; 
}

.cell.mutable {
  color: blue;
}

.bb {
  border-bottom: 4px solid black;
}

.bl {
  border-left: 4px solid black;
}

.centered {
  padding: 10px;
}
